@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

.marvelHeader {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Archivo Narrow', sans-serif;
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}