.App {
  text-align: center;
  min-height: calc(100vh - 50px);
}

.myApp {
  color: white;
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #ec1d23;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 1.5rem;
}

h1 {
  color: #ec1d23;
  font-size: 2rem;
}

.reset {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.short-details {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.favourites {
  font-size: 3rem;
  color: #ec1d23;
  outline-style: auto;
  outline-color: black;
  border-radius: 10%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar__field {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  font-size: 2rem;
  width: 50%;
}

.search-bar ::placeholder {
  font-size: 1rem;
}

.search-bar__submit {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2em;
  margin: 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ec1d23;
}

.character-card {
  margin-top: 2rem;
}

.welcome {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.shield {
  color: #ffffff;
  background-color: #70d2e6;
}

.hydra {
  color: #ffffff;
  background-color: #ab2745;
}
