.App {
  text-align: center;
}

.myApp {
  color: white;
  font-size: 4rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #ec1d23;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 2rem;
}

h1 {
  color: #ec1d23;
  font-size: 3rem;
}

.reset {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.short-details {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.favourites {
  font-size: 3rem;
  color: #ec1d23;
  outline-style: auto;
  outline-color: black;
  border-radius: 10%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.search {
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-size: 2rem;
  width: 100%;
}

.search ::placeholder {
  font-size: 1.5rem;
}
